{% extends "base.html" %}

{% block content %}
<h1>Das 'Lazy Observer' Projekt</h1>

<p>Willkommen! Dies ist eine kleine Webapplikation zur zufälligen Auswahl von Beobachtungsaspekten für die Hospitation von Unterricht. Klickt dazu einfach oben in der Navigation auf den entsprechenden Link.</p>

<h2>Warum dieses Projekt?</h2>

<p>Da an meiner Schule <var>Python</var> unterrichtet wird, wollte ich meine Kenntnisse etwas auffrischen und war auf der Suche nach einem keinen Projekt. Dies ist das Ergebnis.</p>

<h2>Wie hast Du das gemacht?</h2>

<p>Die Idee hatte ich selber. Zum Lernen bin ich grob <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world"> diesem Tutorial von Miguel Grinberg</a> (letzter Abruf am 27.01.2020) gefolgt. Das Ergebnis <a href="https://github.com/fgrng/lazy_observer"> könnt Ihr auf Github finden</a>.</p>

<h2>Woher stammen die Indikatoren für die Hospitationsprotokolle?</h2>

<p>
    Die Indikatoren sind dem Artikel <a href="https://doi.org/10.1007/s11858-018-0918-4">Generic dimensions of teaching quality: the German framework of Three Basic Dimensions</a> von Anna-Katharina Praetorius, Eckhard Klieme, Benjamin Herbert und Petra Pinger entnommen.
</p>

<p>Quellenangabe:</p>

<code>
Praetorius, A., Klieme, E., Herbert, B. et al. Generic dimensions of teaching
quality: the German framework of Three Basic Dimensions. ZDM Mathematics
Education 50, 407–426 (2018). <a>https://doi.org/10.1007/s11858-018-0918-4</a>
</code>

<h2>Kann ich das Paper irgendwo lesen?</h2>

<p>Vielleicht hast Du Glück und Deine Bildungseinrichtung hat Zugang zu der Zeitrschrift.</p>

<p>Aber mal was ganz anderes! Wusstest Du, dass <a href="https://www.nature.com/news/us-court-grants-elsevier-millions-in-damages-from-sci-hub-1.22196"> Elsevier im Jahr 2018 Millionen in Schadensansprüchen</a> gegenüber der Webseite SciHub erstritten hat? Es wäre wirklich schade, wenn es durch diese Nachricht zu einem Streisand-Effekt gekommen wäre, sodass jetzt mehr Leute von der Existenz von <a href="http://sci-hub.io/">SciHub</a> wüssten; einer Webseite auf der man fast alle wissenschaftlich Paper ganz einfach und gratis finden kann, die sonst hinter einer Paywall der Verlage verschwinden. Hoffentlich werden durch den Prozess auch Leute davon abgehalten an SciHub zu spenden.</p>

<h2>Was steht hier in der Datenbank?</h2>

{% for d in dims %}
<h3>{{d.name}}<h3>
    {% for s in d.subdimensions.all() %}
    <h4>{{s.name}}</h4>
    <ul>
        {% for c in s.indicators.all() %}
        <li>{{c.criteria}}</li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endfor %}

{% endblock %}

