{% extends "base.html" %}

{% block content %}
<h1>Zufällige Beobachtungsaspekte</h1>

<p>Wenn Du heute Unterrichts beobachtest, könnstest du auf die folgenden zwei Aspekte achten.</p>

<ol>
    <li>
        Der Aspekt <strong>{{subdim1.name}}</strong> gehört zur Basisdimension „{{dim1.name}}“. Achte auf die folgenden Kriterien:
        <ul>
            {% for c in subdim1.indicators.all() %}
            <li>{{c.criteria}}</li>
            {% endfor %}
        </ul>
    </li>
    <li>
        Der Aspekt <strong>{{subdim2.name}}</strong> gehört zur Basisdimension „{{dim2.name}}“. Achte auf die folgenden Kriterien:
        <ul>
            {% for c in subdim2.indicators.all() %}
            <li>{{c.criteria}}</li>
            {% endfor %}
        </ul>
    </li>
</ol>
{% endblock %}
